<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patients </title>
</head>
<body>

<!--    <h1 th:text=" 'THYMELEAF'+ ${msg}"> </h1>-->
<h1>Doctors</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>DoB</th>

    </tr>
    </thead>

    <tbody>
    <tr th:each="patient : ${patientList}">
        <td th:text = "${patient.id}"></td>
        <td th:text = "${patient.firstName}"></td>
        <td th:text = "${patient.lastName}"></td>
        <td th:text = "${patient.dob}"></td>
    </tr>
    </tbody>

</table>

</body>
</html>